body {
  font-family: "Be Vietnam", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.bg_board1 {
  background-color: #547eab;
  height: 50px;
  width: 50px;
}

.bg_board2 {
  background-color: #abcaeb;
  height: 50px;
  width: 50px;
}
td {
  padding: 0;
}
#board {
}
